@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout1.cshtml";
 }

<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>OOP!</h2>
                    <span>Payment Failure, Looks like something went wrong.</span>
                    <p>SoulFar online book shop.</p>
                    <a href="@Url.Action("Index","Checkout")"> Go to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Thank you section -->
